* {
    margin: 0;
}

:root {
  --CoreWhite: #ffffff;
  --CoreDBlue: #164195;
  --CoreDOrange: #eb934e;
  --CoreSBlue: #a5b0db ;
  --CoreSGrey: #d9def0;
  --CoreSSGrey: #f9f9fb;
  --CoreSOrange: #f9d3b7;
  --CoreMBlue: #5E79B8;
  --CoreMElectric: #1986bf;
}

html, body{
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	background-color: var(--CoreWhite);
}

header {
    background: #23282d;
    color: white;
    height: 35px;
    overflow: hidden;
    width: 100%;
}

header div.username {
    float: right;
    padding: 4px;
}

nav {
    background: var(--CoreSGrey);
    width: calc(100% - 83%);
    height: 100vh;
    float: left;
    box-sizing: border-box;
}

nav > ul {
    margin: 20px 0px 0px 0px;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    margin-bottom: 10px;
}

nav > ul > li > a > .fas {
    padding: 4px;
    background: var(--CoreDBlue);
    color: var(--CoreWhite);
    border-radius: 5px;
}

nav > ul > li > a  {
    color: var(--CoreDBlue);
}

.logo {
    float: left;
}

.logo > img {
    width: auto;
    height: 35px;
    vertical-align:middle;
}

.logo > span {
    padding: 7px;
}

div.content {
    width: 83%;
    float: left;

}

.cpage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  width:80%;
  height:80% ;
  order:2;
}

.lateralizq{
  width:10%;
  background-color: var(--CoreWhite);
  display: flex;
  flex-direction: row;
  justify-content: center;
  order:1;
}

.lateraldere{
  width: 10%;

  background-color: var(--CoreWhite);
  display: flex;
  flex-direction: row;
  justify-content: center;
  order:3;
}

.container:after {
  display: block;
  margin: 10px;
  flex: 999 999 auto;
}

.incpage {
  flex: 0 0 auto;
  margin: 10px;

}

.container {
    padding: 10px;
}

.container-info {
    width: 100%;
    float: left;
}

.container-info > h1 {
    float: left;
}

.breadcrumb {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    background: var(--CoreSOrange);
    float: right;
}

#incpagelanding{
	background-color: var(--CoreMBlue);
}

button {
	padding:0,5%;
	width:20%;
	height:20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--CoreDBlue);
	border: 2px solid var(--CoreDBlue);
 	border-radius:2px;
 	box-shadow: 2px 2px 10px var(--CoreSBlue);
}

ol {
	color: var(--CoreDBlue);
}

ul {
	color: var(--CoreDBlue);
}

li{

}

.hide-element {
    display: none;
}

strong{
	color: var(--CoreMElectric);
}

p {
  font-size:0.9em;
}
h1 {
  font-size:2em;
}
h2 {
  font-size:1.4em;
}
span{
  font-size:1.2em;
}


footer {
    background: #214093;
    color: white;
    height: 35px;
}

footer > p {
    padding: 5px;
    text-align: center;
}


body#landing {
  margin: 0;
}

body#landing > div#main_landing {
  text-align: center
}


body#landing > div#main_landing > img#banner_landing {
  display: block;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}

body#landing > div#main_landing > a#login_landing {
  text-decoration: none;
  margin-top: 10vh;
}
